<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<h1>Welcome to the Javalin / Thymeleaf demo</h1>

<p>This is your first web application in this world</p>


<form method="post">
    <input type="text" name="user_name" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <button type="submit" formaction="/login">Log på</button>
    <p th:text="${#ctx.message}"></p>
</form>

</body>
</html>
